HahathonLanding-Front/dist/
.idea/
HahathonLanding-Front/node_modules/

HahathonLanding-Back/node_modules/
HahathonLanding-Back/.env
HahathonLanding-Back/src/static/
HahathonLanding-Back/apiKey.json

app/
apiKey.json
env.sh
