doctype html
html(lang="ru")
  head
    title Хахатон РТУ МИРЭА

    meta(charset="UTF-8")
    meta(name="author" content="RTUITLab")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Добро пожаловать на Xахатон от РТУ МИРЭА и SberGames, приуроченный к международному Дню смеха. Вас ждут 48-ми часовое соревнование в формате GameJam, увлекательные задания и интересные призы")

    link(rel="icon" href="assets/tasks/task_1.svg")
  body
    div
      .notification
        div На вашу почту выслано письмо для подтверждения регистрации. Если письмо не пришло, повторите попытку через час или напишите нам на hahathon@rtuitlab.dev

      include mixins/page-header
      include mixins/tasks
      include mixins/prises
      include mixins/faq
      include mixins/registration
      include mixins/page-footer
    .orbs
      include assets/orbs/header.svg
      include assets/orbs/header.svg
      include assets/orbs/header.svg
      include assets/orbs/header.svg

    script(src="https://www.google.com/recaptcha/api.js" async defer)
