/* Import fonts */
@import "fonts/AvenirNextCyr/stylesheet.css";
@import "fonts/Helvetica/stylesheet.css";

/* Import blocks stiles */
@import "styles/header.css";
@import "styles/tasks.css";
@import "styles/prises.css";
@import "styles/faq.css";
@import "styles/registration.css";
@import "styles/footer.css";

.grecaptcha-badge {
  visibility: hidden;
}

:root {
  --wrapper-height: 0px
}

.orbs {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--wrapper-height);
  overflow: hidden;
  z-index: 0;
  filter: blur(5px);
}

.orbs > svg {
  width: auto !important;
  max-width: 10000px;
  padding: 0;
}

.orbs > svg circle:nth-child(3n - 2) {
  animation: fly 12s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

.orbs > svg circle:nth-child(3n - 1) {
  animation: fly 12s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  animation-delay: -4s;
}

.orbs > svg circle:nth-child(3n) {
  animation: fly 12s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  animation-delay: -7s;
}

@keyframes fly {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
}

/* Default layout settings*/
* {
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background: var(--body-bg);
}

body > div:not(.orbs) {
  position: relative;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > div > * {
  max-width: 1440px;
  width: 100%;
  padding: 0 calc((100% - 1440px) / 2) 96px;
}

body > div > * > * {
  padding: 0 10%;
}

button,
a.button,
span.button {
  padding: 10px 76px;
  background: transparent !important;
  outline: none;
  border: 2px solid white;
  transition: .1s;
  cursor: pointer;
}

button:hover,
a.button:hover,
span.button:hover {
  background: #FFFFFF22 !important;
  border-color: #FFFFFFBB;
}

a {
  text-decoration: none;
}

/* Font settings */
* {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h1 {
  font-size: 64px;
  text-transform: uppercase;
}

h2 {
  font-size: 120px;
  text-transform: uppercase;
  margin: 0;
}

.text__header {
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.text__bold {
  font-weight: 600;
}


.notification {
  position: fixed;
  height: 0;
  padding: 0;
}

.notification > div {
  right: -100px;
  max-width: 400px;
  margin: 32px;
  width: 90%;
  float: right;
  background: #a746bc;
  padding: 16px 24px;
  border: 3px solid white;
  box-sizing: border-box;
  transition: .3s;
  transform: translateX(5500px);
}

.notification > div.visible {
  transform: translateX(0);
}


/* Adaptivity */
@media (max-width: 1200px) {
  h2 {
    font-size: 96px;
  }
}

@media (max-width: 980px) {
  h2 {
    font-size: 80px;
  }
}

@media (max-width: 650px) {
  h2 {
    font-size: 48px;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 42px;
  }
}
