@import 'variables.scss';

footer {
	width: 100%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
	align-items: center;
	font-family: Inter;
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	padding-bottom: 50px;

	@media (max-width: $tablet-breakpoint) {
		margin-top: 80px;
	}
	a {
		font-size: 20px;
		color: #f2f2f2;
		vertical-align: middle;
	}
	.top {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 30px;
		.tg {
			a {
				img {
					vertical-align: middle;
					padding-right: 10px;
					padding-bottom: 5px;
				}
			}
		}
		a {
			@media (max-width: $tablet-breakpoint) {
				text-align: center;
				font-size: 24px;
			}
			@media (max-width: $mobile-breakpoint) {
				font-size: 18px;
			}
		}
		@media (max-width: $tablet-breakpoint) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 25px;
		}
	}
	.bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px 130px;
		flex-wrap: wrap;
		@media (max-width: $mobile-breakpoint) {
			flex-direction: column;
			gap: 20px;
			padding-top: 45px;
		}
	}
}

footer > div > p {
	margin: 0;
	padding: 0;
}
