@import 'variables.scss';

.header {
	width: 100%;
	&__navbar {
		width: 100%;
		padding: 25px 0px;
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		@media (max-width: $mobile-breakpoint) {
			display: none;
		}
		li > a > img {
			vertical-align: middle;
		}
		li a {
			@media (max-width: 800px) {
				font-size: 20px;
			}
		}
	}
	&__navbar-mobile {
		box-sizing: border-box;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 18px 30px 18px 0;
		display: flex;
		justify-content: flex-end;
		transition: top 0.3s; //Эффект перехода при скольжении вниз/вверх
		@media (min-width: calc($mobile-breakpoint + 1px)) {
			display: none;
		}
		&,
		.logo,
		.hamburger {
			z-index: 3; //больше чем у wrapper
		}
		.hamburger {
			display: block;
			height: 24px;
			width: 24px;
			transform: scale(1.4);
			cursor: pointer;
			&[data-opened='true'] {
				background: url(./assets/hamburger/close.svg) center center no-repeat;
			}
			&[data-opened='false'] {
				background: url(./assets/hamburger/open.svg) center center no-repeat;
			}
		}
	}

	&__main {
		width: 100%;
		margin-top: 50px;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: 564px) {
			margin-top: 0px;
		}

		.title {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 10px;
			@media (max-width: $mobile-breakpoint) {
				margin-top: 70px;
			}
			&__icons {
				display: flex;
				flex-wrap: nowrap;
				gap: 30px;
				justify-content: flex-start;
				align-items: center;

				a:nth-of-type(3) {
					@media screen and (max-width: 1300px) {
						display: none;
					}

					@media screen and (max-width: 810px) {
						display: inline;
					}
				}

				a:nth-of-type(4) {
					@media screen and (max-width: 1300px) {
						display: none;
					}

					@media screen and (max-width: 810px) {
						display: inline;
					}
				}

				&:nth-of-type(2) {
					@media screen and (min-width: 1300px) {
						display: none;
					}
				}

				&_tablet {
					@media screen and (min-width: 810px) {
						display: none !important;
					}
				}

				@media screen and (max-width: 1300px) {
					width: 80%;
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					gap: 0;
				}

				@media screen and (max-width: 1024px) {
					width: 100%;
				}

				@media screen and (max-width: 810px) {
					display: flex;
					flex-direction: column;
					margin-top: 30px;
					gap: 30px;

					&:nth-of-type(1) {
						display: none;
					}

					&:nth-of-type(2) {
						display: none;
					}
				}

				@media screen and (max-width: 564px) {
					gap: 15px;
				}

				.icon-left {
					text-align: left;
				}

				.icon-right {
					text-align: right;
				}
				span {
					font-family: Furore;
					font-size: 28px;
					font-weight: 400;
					line-height: 32px;
					letter-spacing: 0em;
					text-align: center;

					&:nth-of-type(2) {
						@media screen and (max-width: 1300px) {
							display: none;
						}

						@media screen and (max-width: 810px) {
							display: inline;
						}
					}

					&:nth-of-type(3) {
						@media screen and (max-width: 1300px) {
							display: none;
						}

						@media screen and (max-width: 810px) {
							display: inline;
						}
					}

					@media screen and (max-width: 564px) {
						font-size: 20px;
					}
				}

				.sponsorsDivider {
					font-family: 'AKONY';
					line-height: 130%;
					&:hover {
						cursor: default;
					}
				}
			}
			&__header {
				font-size: 99px;
				margin-top: 66px;
				&::after {
					content: 'Хакатон';
				}

				@media screen and (max-width: 1420px) {
					font-size: 70px;
				}

				@media screen and (max-width: 1024px) {
					font-size: 43px;
					margin-top: 36px;
				}

				@media screen and (max-width: 564px) {
					font-size: 28px;
					text-align: center;
					margin: 0 auto;
					margin-top: 35px;
					transform: translateX(-20px);
				}
			}

			.subtitle__block {
				width: 992px;
				display: flex;
				margin-top: 21px;
				align-items: flex-start;
				justify-content: space-between;

				@media screen and (max-width: 1420px) {
					width: 100%;
					flex-direction: column;
					gap: 30px;
				}

				@media screen and (max-width: 1024px) {
					margin-top: 15px;
				}

				.name {
					margin: 0;
					font-family: Inter;
					font-weight: 900;
					font-size: 80px;
					line-height: 81%;

					@media screen and (max-width: 1420px) {
						font-size: 60px;
					}

					@media screen and (max-width: 1024px) {
						font-size: 45px;
					}

					@media screen and (max-width: 564px) {
						display: none;
					}
				}
			}
			&__date {
				font-family: AKONY;
				font-size: 43px;
				font-weight: 400;
				letter-spacing: 0em;
				text-align: left;

				@media screen and (max-width: 1024px) {
					font-size: 28px;
				}
				@media (max-width: 564px) {
					align-self: center;
					text-align: center;
					font-size: 20px;
					line-height: 108%;
					margin-top: 0;
				}
			}
			&__button {
				margin-top: 87px;
				@media screen and (max-width: 1024px) {
					margin-top: 62px;
				}

				@media screen and (max-width: 564px) {
					margin-top: 100px;
				}
			}
		}

		.dates {
			max-width: 1170px;
			width: 100%;
			margin: 0 auto;
			box-sizing: border-box;
			margin-top: 287px;
			padding: 0 2.3%;
			display: grid;
			grid-template-columns: 270px 270px 270px 270px;
			justify-items: center;
			gap: 0 30px;

			@media screen and (max-width: 1600px) {
				display: flex;
				flex-direction: column;
			}

			@media screen and (max-width: 1024px) {
				margin-top: 238px;
			}

			@media screen and (max-width: 564px) {
				margin-top: 150px;
			}

			.dateContainer {
				display: flex;
				flex-direction: column;
				width: 100%;

				.fullDate {
					display: flex;
					margin: 0 auto;
					margin-bottom: 42px;

					@media screen and (max-width: 1600px) {
						margin: 0;
						margin-bottom: 42px;
					}
					@media screen and (max-width: 1024px) {
						margin-bottom: 22px;
						margin: 0 auto;
						margin-bottom: 10px;
					}

					.date {
						margin: 0;
						font-family: 'AKONY';
						font-size: 20px;
						font-style: normal;
						font-weight: 700;
						line-height: 108%;

						@media screen and (max-width: 564px) {
							font-size: 20px;
						}
					}
					.time {
						color: #f90;
						margin-left: 2%;
					}
				}

				.event {
					width: 100%;
					height: 100px;
					box-sizing: border-box;
					padding: 20px 50px;
					border-radius: 20px;
					background-color: rgba(0, 0, 0, 0.3);
					backdrop-filter: blur(25px);
					display: flex;
					position: relative;

					@media screen and (max-width: 1600px) {
						margin-top: 0px !important;
					}

					@media screen and (max-width: 564px) {
						height: 72px;
						padding: 18px;
					}

					&Stage {
						margin: auto auto;
						font-size: 20px;
						text-align: center;
						text-wrap: wrap;
						font-family: Inter;
						@media screen and (max-width: 1600px) {
							font-size: 28px;
						}

						@media screen and (max-width: 564px) {
							font-size: 18px;
						}
					}
					.arrow-icon {
						width: 170px;
						position: absolute;
						right: -170px;
						top: 50%;

						&-hidden {
							display: none;
						}

						@media screen and (max-width: 1600px) {
							display: none;
						}
					}
				}

				.arrow-down {
					display: none;
					@media screen and (max-width: 1600px) {
						display: block;
						width: 21px;
						height: 85.5px;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					@media screen and (max-width: 768px) {
						width: 14px;
						height: 57px;
					}

					@media screen and (max-width: 564px) {
						margin: 0 auto;
						margin-top: 20px;
						margin-bottom: 20px;
					}

					&-hidden {
						display: none;
					}
				}
			}
		}

		.curriculum {
			margin-top: 64px;
			display: flex;
			justify-content: space-between;
			gap: 30px;
			@media (max-width: $tablet-breakpoint) {
				flex-direction: column;
				gap: 15px;
				margin-top: 75px;
				padding: 0;
			}
			@media (max-width: $mobile-breakpoint) {
				width: 95%;
			}
			&-block {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				padding: 20px;
				width: calc(100% / 3 - 30px * 2);
				height: 168px;
				background: rgba(255, 255, 255, 0.05);
				backdrop-filter: blur(25px);
				border-radius: 20px;
				@media (max-width: $tablet-breakpoint) {
					width: 100%;
					flex-direction: row;
					height: 112px;
					align-items: center;
				}
				@media (max-width: 840px) {
					width: calc(100% - (13% / 2));
					flex-direction: column;
					align-items: flex-start;
				}
				.stage {
					font-family: Furore;
					font-size: 28px;
					font-weight: 400;
					line-height: 36px;
					letter-spacing: 0em;
					text-align: left;
					@media (max-width: 1057px) {
						font-size: 24px;
						line-height: 31px;
					}
					@media (max-width: 950px) {
						font-size: 20px;
						line-height: 31px;
					}
					@media (max-width: $mobile-breakpoint) {
						font-size: 24px;
						line-height: 31px;
					}
				}
				.date {
					font-family: Furore;
					font-size: 20px;
					font-weight: 400;
					line-height: 26px;
					letter-spacing: 0em;
					text-align: left;
					@media (max-width: $mobile-breakpoint) {
						font-size: 20px;
					}
				}
			}
		}
		.title__icons-mobile {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			width: 100%;
			padding: 0;
			margin: 45px 0 0 0;
			gap: 20px;
			@media (min-width: calc($mobile-breakpoint + 1px)) {
				display: none;
				margin: 0;
			}
			span {
				font-family: Furore;
				font-size: 28px;
				font-weight: 400;
				line-height: 32px;
				letter-spacing: 0em;
				text-align: center;
			}
		}
	}
}
