@import 'variables.scss';

.tasks {
	&__header {
		&::after {
			content: 'Задачи';
		}
	}
	&__content {
		display: flex;
		justify-content: center;
		gap: 20px;
		width: 100%;
		@media (max-width: 1150px) {
			justify-content: center;
			flex-direction: column;
		}
		.task {
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			background: rgba(255, 255, 255, 0.05);
			backdrop-filter: blur(25px);
			border-radius: 20px;
			padding: 40px;
			width: calc(50% - 20px);
			height: 515px;
			justify-content: space-between;

			@media screen and (max-width: 1370px) {
				height: 615px;
			}

			@media screen and (max-width: 1160px) {
				height: 650px;
			}

			@media screen and (max-width: 1150px) {
				width: 100%;
				height: 400px;
				padding: 30px;
			}

			@media screen and (max-width: 790px) {
				height: 500px;
			}

			@media screen and (max-width: 610px) {
				height: 600px;
			}

			@media screen and (max-width: 564px) {
				height: 300px;
			}

			@media screen and (max-width: 475px) {
				height: 450px;
			}
			.title {
				margin: 0;
				font-family: 'AKONY';
				font-size: 28px;
				font-weight: 400;
				letter-spacing: 0em;
				text-align: left;
				align-self: start;

				@media screen and (max-width: 564px) {
					font-size: 15px;
				}
			}
			.description {
				margin: 0;
				font-family: Inter;
				font-size: 24px;
				font-weight: 400;
				line-height: 124%;
				letter-spacing: 0em;
				text-align: left;
				max-width: 100%;
				align-self: start;
				margin-top: 30px;

				@media screen and (max-width: 1150px) {
					margin-top: 30px;
				}

				@media screen and (max-width: 564px) {
					margin-top: 11px;
					font-size: 18px;
				}
			}

			.info {
				margin-top: 30px;
				display: flex;
				flex-direction: column;
				gap: 9px;

				@media screen and (max-width: 1150px) {
					gap: 15px;
				}

				.theme {
					margin: 0;
					font-weight: 700;
					font-size: 23px;
					@media screen and (max-width: 564px) {
						font-size: 18px;
					}
				}
			}

			img {
				max-width: 100%;
				height: auto;
				padding: 16px 0;
				box-sizing: border-box;
			}
			.taskButton {
				margin-top: 60px;
				text-align: center;
			}
		}
	}
}
