$desktop-breakpoint: 1600px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 555px;


$main-dark: #003274;
$main-normal: #025EA1;
$main-light: #6CACE4;
$accent-light: #E00079;


$accent: #E00079;
$text-secondary: #BC0166;
$text-accent: #FE0189;
$text-extra: #65A5DD;
$bg: #1E1E1E;
$neon-shadow: #64A4DC;