$desktop-breakpoint: 1600px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 555px;
$main-dark: #003274;
$main-normal: #025EA1;
$main-light: #6CACE4;
$main-black: #151515;
$accent: #be02cf;
$accent-light: #d500e9;
$text-normal: #61A1DA;

