-
  var faq_data = [
    {
      question: 'Какие инструменты разрешается использовать участникам?',
      answer: 'Ограничений по инструментам нет, но необходимо учитывать требования к предоставлению результата'
    },
    {
      question: 'Разрешено ли использовать сторонние ассеты?',
      answer: 'Сторонние ассеты не запрещается использовать с указанием автора и источника в материалах к видеоролику'
    },
    {
      question: 'Разрешено ли использовать шаблоны или свои заготовки?',
      answer: 'Шаблоны и заготовки возможно использовать при условии, что они не принимали ранее участие в других конкурсах'
    },
    {
      question: 'Какие требования к итоговому ролику?',
      answer: 'Длительность ролика должна быть от 1:45 до 2:15, а сам видеоролик должен быть представлен в формате MP4'
    },
    {
      question: 'Сколько участников должно быть в команде?',
      answer: 'К участию в конкурсе допускаются только команды, состоящие из двух участников'
    },
    {
      question: 'Как мне убедиться что я зарегистрирован?',
      answer: 'Если вы сомневаетесь, что регистрация прошла успешно, напишите администраторам в чате мероприятия или на почту <a href="mailto:hack@rtuitlab.dev">hack@rtuitlab.dev</a>'
    },{
      question: 'Можно ли участвовать в конкурсе онлайн?',
      answer: 'Да, вся работа над проектом ведётся в дистанционном формате. Однако защита и награждение победителей всё же пройдёт очно в РТУ МИРЭА'
    }
  ];

mixin faq_question(index, question)
  li(class="question-card")
    input(type="checkbox" id=`question-${index}` hidden)
    label(for=`question-${index}`)
      h3.question_header= question.question
      div
        img(src="assets/down-arrow.svg" alt="Стрелка вниз" width="20" height="20")
    p.question_answer!= question.answer

section.faq#faq-section
  h2.faq__header FAQ

  ul.faq__list#questions
    each Q, i in faq_data
      +faq_question(i, Q)
