-
  var faq_data = [
    {
      question: 'Какие инструменты разрешается использовать участникам?',
      answer: 'Ограничений по инструментам нет, однако в своём решении необходимо использовать HTML5, <a href="https://ru.reactjs.org/" target="_blank">React</a>, <a href="https://www.php.net/" target="_blank">PHP</a> или <a href="https://unity.com/ru" target="_blank">Unity</a>'
    },
    {
      question: 'Разрешено ли использовать сторонние ассеты?',
      answer: 'Сторонние ассеты не запрещается использовать с указанием автора и источника в материалах к проекту'
    },
    {
      question: 'Разрешено ли использовать шаблоны или свои заготовки?',
      answer: 'Шаблоны и заготовки возможно использовать при условии, что они не принимали ранее участие в других конкурсах'
    },
    {
      question: 'Какие требования к итоговой игре?',
      answer: 'Игра должна быть web-приложением, развёрнутым в сети Интернет'
    },
    {
      question: 'Сколько участников должно быть в команде?',
      answer: 'Для участия в конкурсе в команде должно быть от 2 до 5 человек'
    },
    {
      question: 'Как мне убедиться что я зарегистрирован?',
      answer: 'Если вы сомневаетесь, что регистрация прошла успешно, напишите администраторам в чате мероприятия или на почту <a href="mailto:hack@rtuitlab.dev">hack@rtuitlab.dev </a>'
    },{
      question: 'Можно ли участвовать в конкурсе онлайн?',
      answer: 'Да, вся работа над проектом ведётся в дистанционном формате. Однако защита и награждение победителей всё же пройдёт очно в РТУ МИРЭА'
    }
  ];

mixin faq_question(index, question)
  li(class="question-card")
    input(type="checkbox" id=`question-${index}` hidden)
    label(for=`question-${index}`)
      h3.question_header= question.question
      div
        img(src="assets/down-arrow.svg" alt="Стрелка вниз" width="20" height="20")
    p.question_answer!= question.answer

section.faq#faq-section
  h2.faq__header FAQ

  ul.faq__list#questions
    each Q, i in faq_data
      +faq_question(i, Q)
