.wrapper
    div
        a#hamburger-link(href="#tasks-section") Задачи
    div
        a#hamburger-link(href="#prises-section") Призы
    div
        a#hamburger-link(href="#faq-section") FAQ
    div
        a#hamburger-link(href="#registration-section") Регистрация
    div 
        a#hamburger-link(href="https://t.me/hahaton_2023" target="_blank" rel="noopener noreferrer")
            img(src="./assets/logos/telegram.svg" alt="Телеграм чат" width="28px" height="24px")