footer#footer
    div.top
      a(href='https://storage.yandexcloud.net/hahaton/Положение_CreativeHack_подписанное.pdf') Положение о хакатоне
      a(href="mailto:hack@rtuitlab.dev") hack@rtuitlab.dev
      div.tg
        a(href="https://t.me/creative_hack_2022_chat" target="_blank" rel="noopener noreferrer")
          img(src="assets/logos/telegram.svg" alt="Телеграм чат"  width="28px" height="24px")
          | Telegram-чат
    div.bottom
      img.icon#header-icon.mirea(src="./assets/logos/MIREA_logo2.webp" alt="Логотип РТУ МИРЭА" width="60px" height="60px")
      img.icon#header-icon.vk(src="./assets/logos/VK_hover.svg" alt="Логотип Вконтакте" width="60px" height="60px")
