// TODO: change links (same as header)

footer#footer
    div.top
      a(href='https://storage.yandexcloud.net/hahaton/Положение1.pdf') Положение о хакатоне
      a(href="mailto:hack@rtuitlab.dev") hack@rtuitlab.dev 
      div.tg
        a(href="https://t.me/vkrum_2023" target="_blank" rel="noopener noreferrer")
          img(src="assets/logos/telegram.svg" alt="Телеграм чат"  width="28px" height="24px")
          | Telegram-чат
    div.bottom
      a(href="https://education.vk.company/" target='_blank')
          img.icon#header-icon.vk(src="./assets/logos/VK_Education.svg"  alt="Логотип VK Education" width='200px')
      a(href="https://vkplay.ru/" target='_blank')
        img.icon#header-icon.vk.vkplay(src="./assets/logos/VK_Play.svg"  alt="Логотип VK Play" width='140px')
      a(href="https://www.rustore.ru/" target='_blank')
        img.icon#header-icon.vk.vkplay(src="./assets/logos/RuStoreWithTitle.svg"  alt="Логотип RuStore" width='150px')
      a(href="https://www.mirea.ru/" target='_blank')
          img.icon#header-icon.vk(src="./assets/logos/MIREA_logo2.webp"  alt="Логотип РТУ МИРЭА" width='65px' height='70px')
