#registration-section {
  padding-bottom: 0 !important;
}

#registration-section > img {
  float: right;
  padding: 0 56px;
  margin-top: 200px;
  width: 20%;
  height: 20%;
}

#registration-section form {
  width: calc(100% - 270px);
  padding-bottom: 16px;
  box-sizing: border-box;
}

#registration-section form h4,
#registration-section form h4 label {
  margin: 28px 0 20px;
  font-size: 20px;
  font-weight: 500;
}

#registration-section form input {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid white;
  background: transparent;
  outline: none;
  box-sizing: border-box;
  transition: .2s;
}

#registration-section form input:focus-visible {
  background: #FFFFFF22;
}

#registration-section form button:focus-visible,
#registration-section form a:focus-visible {
  outline: 2px solid #cf2dff;
}

#registration-section form input::placeholder {
  font-family: Helvetica, sans-serif;
  color: #a5dbff;
}

#registration-section form div {
  width: 180px;
  display: flex;
  flex-direction: row;
}

#registration-section form div * {
  margin: 0;
}

#registration-section form input::-webkit-outer-spin-button,
#registration-section form input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

#registration-section form input[type=number] {
  width: 100px;
  margin: 0;
  border-left: none;
  border-right: none;
  text-align: center;
  -moz-appearance: textfield;
}

#registration-section form input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#registration-section form label.radio {
  display: block;
  margin: 12px 0;
  cursor: pointer;
}

#registration-section form label.radio::before {
  content: ' ';
  line-height: 1ch;
  text-align: center;
  margin-right: 8px;
  border: 1px solid white;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
}

#registration-section form input:focus-visible + label.radio::before {
  outline: 2px solid #cf2dff;
}

#registration-section form input:checked + label.radio::before {
  content: 'x';
}

.error {
  color: #bf0000;
  font-size: 16px;
}

input:not(:invalid) + .error {
  display: none;
}

/*#registration-section form label.radio input */

#registration-section form button {
  margin-top: 16px;
  padding: 8px 20px;
}

#registration-section form div button {
  width: 40px !important;
  padding: 0;
  border-width: 1px;
  box-sizing: border-box;
  margin: 0;
}


@media (max-width: 980px) {
  #registration-section > img {
    width: 20%;
    padding: 0 32px;
    height: 20%;
  }

  #registration-section form {
    width: calc(100% - 190px);
  }
}

@media (max-width: 650px) {
  #registration-section > img {
    display: none;
  }

  #registration-section form {
    width: 100%;
  }
}
